:host {
  display: block;
}
.input-price-form-field {
  width: 16rem;
}
.full-width {
  width: 100%;
}

/* Border */
// ::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
//   color: rgba(179, 213, 219, 0.219);
// }
/* Font color */
// ::ng-deep input.mat-input-element {
//   color: white;
// }
